main {
    background-color: lightcoral;
    height: 50vh;
    position: relative;
}
.img1{
    position: absolute;
    //top: ;
    right: 0;
    bottom: 0; 
   // left: ;
}

.img2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
}

.img3 {
    position: absolute;
    top: 0;
    right: 0;
}

.img4 {
    position: absolute;
    top: 0;
    left: 0;
}

div {

    position: absolute;
    //top: 50%;
    //left: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparentize(lightseagreen, .5);
}