@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|Ribeye|Erica+One|Passion+One|Bowlby+One|Milonga|Peralta|Poppins");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #e0ebe8;
  padding: 0;
  margin: 0;
  height: 100%;
}

html h1, body h1 {
  color: #d9d9d9;
  letter-spacing: 20px;
  text-align: center;
  height: 20vh;
  width: 100%;
  padding-top: 30px;
  text-shadow: 0 0 20px   black;
  background-image: url("/img/splat.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  font-size: 100px;
}

html hr, body hr {
  width: 60%;
  height: 2px;
  background-color: #343232;
}

html nav#horizontal, body nav#horizontal {
  background-color: #0197A4;
  background-color: #293133;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 60px;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 40px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html nav#horizontal ul, body nav#horizontal ul {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding-top: 15px;
}

html nav#horizontal ul li.links, body nav#horizontal ul li.links {
  list-style: none;
  height: 100%;
  border-right: 2px dashed #f2f2f2;
  margin: 0 auto;
  padding: 0;
}

html nav#horizontal ul li.links:last-child, body nav#horizontal ul li.links:last-child {
  border: none;
}

html nav#horizontal i, body nav#horizontal i {
  font-size: 150%;
  color: #f2f2f2;
}

html nav#horizontal a, body nav#horizontal a {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 20px;
  color: white;
  font-family: 'Peralta';
}

html nav#horizontal a:hover, body nav#horizontal a:hover {
  background-color: #343f41;
  padding: 20px;
}

html nav#horizontal a:active, body nav#horizontal a:active {
  background-color: #403f3f;
}

html nav#horizontal .linksul, body nav#horizontal .linksul {
  font-family: 'Peralta', sans-serif;
  text-transform: lowercase;
  height: 50px;
}

html nav#horizontal .linksIcons, body nav#horizontal .linksIcons {
  width: 30px;
}

html nav#horizontal li.nametag, body nav#horizontal li.nametag {
  display: inline;
}

html nav#horizontal li.nametag img#logo, body nav#horizontal li.nametag img#logo {
  height: 60px;
  width: 70px;
  top: 0;
  margin-top: -10px;
  padding-bottom: 5px;
  border-radius: 100%;
}

html .fa-bookmark, body .fa-bookmark {
  color: #C53E25;
  font-size: 120px;
  position: absolute;
  top: 0;
  padding-left: 30px;
  z-index: 9998;
}

html nav#dropdown, body nav#dropdown {
  position: fixed;
  z-index: 9999;
  top: 0;
  padding-top: 10px;
  padding-left: 250px;
  display: none;
  width: 100vw;
}

html nav#dropdown ul, body nav#dropdown ul {
  display: flex;
  justify-content: center;
  align-content: center;
}

html nav#dropdown ul.list, body nav#dropdown ul.list {
  position: absolute;
  width: 100vw;
  background-color: #293133;
  display: flex;
  margin-top: 10px;
  left: 0;
}

html nav#dropdown li.listLi:hover, body nav#dropdown li.listLi:hover {
  background-color: #403f3f;
}

html nav#dropdown li.listLi, body nav#dropdown li.listLi {
  display: none;
  padding: 10px;
  font-size: 15px;
  border-right: 1.5px dashed #f2f2f2;
}

html nav#dropdown li.listLi:last-child, body nav#dropdown li.listLi:last-child {
  border: none;
}

html nav#dropdown li.hamburgerLi i, body nav#dropdown li.hamburgerLi i {
  font-size: 30px;
}

html nav#dropdown li.hamburgerLi:hover li.listLi, body nav#dropdown li.hamburgerLi:hover li.listLi {
  display: block;
}

html nav#dropdown li, body nav#dropdown li {
  list-style: none;
  display: block;
}

html nav#dropdown a, body nav#dropdown a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  text-align: left;
}

@media only screen and (max-width: 900px) {
  html main, body main {
    width: 100%;
    background-color: #343232;
  }
  html div.banner, body div.banner {
    padding-top: 20px;
  }
  html span#textBanner img, body span#textBanner img {
    height: 100vw;
  }
  html span#textBanner .fa, body span#textBanner .fa {
    font-family: 'Erica One', cursive;
    letter-spacing: 0;
    font-size: 50px;
  }
  html footer, body footer {
    width: 100%;
  }
  html .links, body .links {
    font-size: 15px;
    display: none;
  }
  html .linksul, body .linksul {
    padding: 0;
    display: none;
  }
  html .skills ul, body .skills ul {
    flex-wrap: wrap;
    overflow-x: auto;
  }
  html .footerUl, body .footerUl {
    display: none;
  }
  html .spacingDiv, body .spacingDiv {
    display: none;
  }
  html .goldengate, body .goldengate {
    display: none;
  }
  html .developer, html .and, html .designer, body .developer, body .and, body .designer {
    display: block;
    text-align: center;
    font-size: 40%;
  }
  html nav#dropdown, body nav#dropdown {
    display: inline;
  }
  html div#buttons, body div#buttons {
    display: none;
  }
}

html main, body main {
  margin-top: 50px;
  width: 100vw;
  overflow: hidden;
  background-color: #e0ebe8;
}

html main div, body main div {
  display: flex;
  flex-direction: column;
  background-color: #e0ebe8;
  width: 100vw;
}

html .abouth1, body .abouth1 {
  position: relative;
  padding-top: 10px;
  /* example content */
  width: 100%;
  height: 200px;
  font-family: 'Peralta';
}

html .about, body .about {
  background-color: #e0ebe8;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', cursive;
  width: 100%;
}

html .about .aboutInfo, body .about .aboutInfo {
  width: 100%;
  display: block;
}

html .about .aboutInfo i, body .about .aboutInfo i {
  font-size: 25px;
}

html .about .aboutInfo img, body .about .aboutInfo img {
  width: 40px;
}

html .about .photo, body .about .photo {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-self: center;
  justify-content: center;
  padding-top: 25px;
}

html .about img.headshot, body .about img.headshot {
  width: 400px;
  height: 601px;
  padding: 15px;
  border-radius: 100px;
  border: 15px double #962D6E;
}

html .about div.textBox, body .about div.textBox {
  background-color: #e0ebe8;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #343232;
  font-size: 120%;
  margin-right: 100px;
}

html .about div.textBox #facts h1, body .about div.textBox #facts h1 {
  font-size: 150%;
}

html .about div.textBox #facts .row, body .about div.textBox #facts .row {
  display: flex;
  flex-direction: row;
}

html .about div.textBox #facts .row i, body .about div.textBox #facts .row i {
  font-size: 200%;
  padding: 20px;
}

html footer, body footer {
  background-color: #343232;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  bottom: 0;
}

html footer span, body footer span {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

html footer h5, body footer h5 {
  font-family: 'Playfair Display', serif;
  color: #f2f2f2;
  display: inline;
  font-size: 65%;
  letter-spacing: 2px;
  padding-bottom: .5vh;
}

html footer .footerUl, body footer .footerUl {
  bottom: 0;
  padding-right: 30px;
  margin: 0;
}

html footer ul, body footer ul {
  display: inline;
}

html footer li, body footer li {
  display: inline;
}

html footer i, body footer i {
  color: #f2f2f2;
  padding-top: 6px;
  padding-left: 10px;
  font-size: 80%;
}

html footer .fab:hover, html footer .fas:hover, body footer .fab:hover, body footer .fas:hover {
  color: #4d4c4c;
}
/*# sourceMappingURL=about.css.map */