@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Londrina+Solid|Rozha+One');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$black: hsl(0, 0%, 16%);
$white: hsl(0, 0%, 95%);

html {
    font-family: 'Fjalla One', serif;
    background-image:url('https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a82c3751ed73cbbd31bbaef3d7233a83&auto=format&fit=crop&w=1050&q=80');

    body{
    padding: 0;
    margin: 0;
}
    ul {
        list-style: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $white; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: indigo; 
}

.headshot {
    width: 200px;
    margin: 0 auto;
    height: 300px;
}

#btn {
    width: 100px;
    margin: 0 auto;
    background-color: indigo;
    border-radius: 10px;

}

// .birth {
//     text-align: left;
//     display: inline;
// }
// .life {
//     padding-top: 0;
//     text-align: right;
//     display: inline;
// }


span.name {
        color: black;
        background-color: $white;
        width: 100%;
        position: fixed;  
        z-index: 9999;
        top: 0;
        left:0;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


            h1 {
                color: $black;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 200%;
                display: inline;
                
        }
        img {
            width: 5%;
            padding: 0 5px 0 5px;
        }
        li.nametag {
            display: inline;
        }

}
div.main {
    padding: 0 100px 0 100px;
    margin: 0 auto;
    padding-top: 90px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    width: 1200px;
    h1 {
        color: black;
    }

    h2 {
        background-color: $black;
        font-family: 'Playfair Display', serif;
        color: $white;
        display: block;
        padding: 0 100px 0 20px;
        margin: 0;
        height: 50px;
        box-shadow: 15px $black;
    }
    p {
        padding: 20px;
        font-family: 'Playfair Display', serif;
    }
    div {
        display: flex;
        flex-direction: column;
        background-color: $white;
        height: 80%;
    }

.about {
    h1 {
        text-align: center;
        letter-spacing: 20px;
    }
    h3 {
    i {
        font-size: 50px;
        color: indigo;
        margin: 20px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    }
    
}
    

nav#menu{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    li.links {
        display: inline;
        padding: 10px;
        
        a {
            text-decoration: none;
            color: $black;

        }
        a:hover {
            color: indigo;
        }
    }
}

footer {
    h5 { 
    background-color: $black;
    font-family: 'Playfair Display', sans-serif;
    color: $white;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 70%;
    height: 30px;
    margin: 0;
    letter-spacing: 1px; 
    }
}
}
