@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Londrina+Solid|Rozha+One");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
html {
  font-family: 'Fjalla One', serif;
  background-image: url("https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a82c3751ed73cbbd31bbaef3d7233a83&auto=format&fit=crop&w=1050&q=80");
}

html body {
  padding: 0;
  margin: 0;
}

html ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f2f2f2;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: indigo;
}

.headshot {
  width: 200px;
  margin: 0 auto;
  height: 300px;
}

#btn {
  width: 100px;
  margin: 0 auto;
  background-color: indigo;
}

span.name {
  color: #292929;
  background-color: #f2f2f2;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

span.name h1 {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 200%;
  display: inline;
}

span.name img {
  width: 5%;
  padding: 0 5px 0 5px;
}

span.name li.nametag {
  display: inline;
  text-shadow: 2px 1px 2px indigo;
}

div.main {
  padding: 0 100px 0 100px;
  margin: 0 auto;
  padding-top: 90px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 1200px;
  color: #292929;
}

div.main h1 {
  color: #292929;
}

div.main h2 {
  background-color: #292929;
  font-family: 'Playfair Display', serif;
  color: #292929;
  display: block;
  padding: 0 100px 0 20px;
  margin: 0;
  height: 50px;
  box-shadow: 15px #292929;
}

div.main p {
  padding: 20px;
  font-family: 'Playfair Display', serif;
}

div.main div {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 80%;
}

div.main .about
h1 {
  text-align: center;
  letter-spacing: 20px;
  text-shadow: 2px 1px 2px indigo;
}

div.main h3 {
  font-size: 50px;
  color: indigo;
  margin: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.main li {
  display: inline;
}

div.main ul {
  display: block;
}

div.main .left {
  width: 30%;
}

.photo {
  text-align: left;
  width: 45%;
}

.photo li.imgme {
  width: 100%;
  right: 0;
  padding: 0;
}

.photo ul {
  width: 100%;
  padding: 0;
}

.photo li.text {
  width: 100%;
}

.photo li.text img {
  width: 100%;
  right: 0;
  padding: 0;
}

nav#menu {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

nav#menu li.links {
  display: inline;
  padding: 10px;
}

nav#menu li.links a {
  text-decoration: none;
  color: #292929;
}

nav#menu li.links a:hover {
  color: indigo;
}

footer h5 {
  background-color: #292929;
  font-family: 'Playfair Display', sans-serif;
  color: #f2f2f2;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 70%;
  height: 30px;
  margin: 0;
  letter-spacing: 1px;
}
/*# sourceMappingURL=about.css.map */