@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|IBM+Plex+Serif');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

$black: hsl(0, 0%, 16%);
$white: hsl(0, 0%, 95%);

html {
    font-family: 'Fjalla One', serif;
    background-image:url('https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a82c3751ed73cbbd31bbaef3d7233a83&auto=format&fit=crop&w=1050&q=80');

    body{
    padding: 0;
    margin: 0;
}
    ul {
        list-style: none;
    }
}

//Navigation
span#topNavBar {
    color: black;
    background-color: $white;
    width: 100%;
    position: fixed;  
    z-index: 9999;
    top: 0;
    left:0;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    // border-bottom: 2px dashed $black;

        h1 {
            color: black;
            margin: 0 auto;
            text-transform: uppercase;
            font-size: 200%;
            display: inline;
            
    }
    li.nametag {
        display: inline;
    }

    nav#menu{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;

        img#ember {
            width: 5%;
            margin: -10px 5px 0 5px;
        }

        .linksul {
            padding-top: 7px;
        }

    li.links {
        display: inline;
        padding: 10px;
        
        a {
            text-decoration: none;
            color: $black;

        }
        a:hover {
            color: indigo;
        }
    }
}
}



.headshot {
    width: 200px;
    margin: 0 auto;
    height: 300px;
}

#btn {
    width: 100px;
    margin: 0 auto;
    background-color: indigo;

}

div.main {
    margin: 0 150px 0 150px;
    padding-top: 70px;
    width: 1200px;
    h1 {
        color: $black;
    }

    p {
        padding: 20px;
        font-family: 'Playfair Display', serif;
    }
    div {
        display: flex;
        flex-direction: column;
        background-color: $white;
        height: 80%;
    }

.about 
    h1 {
        text-align: center;
        letter-spacing: 20px;
        text-shadow: 2px 1px 2px indigo;
    }
    h3 {
        font-size: 50px;
        color: indigo;
        margin: 20px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    li {
        display:inline;
    }

    ul {
        display: block;
    }

    .left {
        width: 30%;

    }
    
}
.photo {
    text-align: left;
    width: 45%;
    
    li.imgme {
        width: 100%;
        right:0;
        padding:0;
    }
    ul {
        width:100%;
        padding: 0;
    }
li.text {
   width: 100%;

    img {
        width: 100%;
        right: 0;
        padding: 0;
        //text-align: right;
    }
}
}

    



footer {
    h5 { 
    background-color: $black;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 100;
    color: $white;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 70%;
    height: 20px;
    margin: 0;
    letter-spacing: 1px; 
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $white; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: indigo; 
}