@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Londrina+Solid|Rozha+One');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$black: hsl(0, 0%, 16%);
$white: hsl(0, 0%, 95%);

html {
    font-family: 'Fjalla One', serif;
    background-image:url('https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a82c3751ed73cbbd31bbaef3d7233a83&auto=format&fit=crop&w=1050&q=80');

    body{
    padding: 0;
    margin: 0;
}
    ul {
        list-style: none;
    }
}


div.main {
    padding: 0 100px 0 100px;
    margin: 0 auto;
    padding-top: 75px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    


    h2 {
        background-color: $black;
        font-family: 'Playfair Display', serif;
        color: $white;
        display: block;
        padding: 0 100px 0 20px;
        margin: 0;
        height: 50px;
        box-shadow: 15px $black;
    }
    p {
        padding: 50px;
        font-family: 'Playfair Display', serif;
    }
    div {
        display: flex;
        flex-direction: column;
        background-color: $white;
        height: 80%;
    }

    ul {
        list-style: none;
    }

    .about {
        position: relative;
    }
    
    .languages {
    
        i#html {
            font-size: 100px;
            padding: 30px;
            color: hsl(12, 79%, 52%);
        }

        i#css {
            font-size: 100px;
            padding: 30px; 
            color: hsl(202, 100%, 39%);
        }

        li {
            text-align: center;
            margin: 0 auto;
            display: inline;
        }
    }

    .contact {
        i {
            font-size: 25px;
            padding: 10px;
            color: $black;
        }
        i:hover {
            color: indigo;
        }
        p {
            display: inline;
            text-decoration: none;
            color: $black;
            font-family: 'Fairplay Display', serif;
            font-size: 80%;
            padding-left: 0;
        }
        .social {
            display: inline;
            text-align: center;
        }
        .phone-email {
            li {
                display: inline;
            }
            
        }
        h1 {
            color: $black;
            margin-left: 30px;
            padding-top: 20px;
        }
        button {
            margin-left: 40px;
            margin-top: 20px;
        }
        form {
            margin-left: 30px;
            h4 {
                padding: 0;
                margin: 10px 0;
                //font-weight: 100;
                font-family: 'Fairplay Display', serif;
            }
            input[type=text]:focus, textarea:focus, input[type=email]:focus {
                box-shadow: 0 0 5px hsl(275, 90%, 25%);
                //padding: 3px 0px 3px 3px;
                //margin: 5px 1px 3px 0px;
                border: 1px solid hsl(275, 100%, 25%);
              }
        }
    }
}

    div.socialmedia {
        //float: left;
        h1 {
            color: $black;

        }
    }

span.name {
        color: $black;
        background-color: $white;
        width: 100%;
        position: fixed;  
        z-index: 9999;
        top: 0;
        left:0;
        //font-size: 120%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


            h1 {
                color: black;
                margin: 0 auto;
                text-transform: uppercase;
                //font-family: 'Playfair Display', serif;
                font-size: 200%;
                //letter-spacing: 2.5px;
                display: inline;
                
        }
        img {
            width: 5%;
            padding: 0 5px 0 5px;
        }
        li.nametag {
            display: inline;
        }

}

nav#menu{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    // ul.linksul {
        
    // }
    li.links {
        display: inline;
        padding: 10px;
        
        a {
            text-decoration: none;
            color: $black;

        }
        a:hover {
            color: indigo;
        }
    }
}

footer {
    h5 { 
    background-color: $black;
    font-family: 'Playfair Display', sans-serif;
    color: $white;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 70%;
    height: 30px;
    margin: 0;
    letter-spacing: 1px; 
    }
}
