@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Londrina+Solid|Rozha+One");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
html {
  font-family: 'Fjalla One', serif;
  background-image: url("https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a82c3751ed73cbbd31bbaef3d7233a83&auto=format&fit=crop&w=1050&q=80");
}

html body {
  padding: 0;
  margin: 0;
}

html ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f2f2f2;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: indigo;
}

div.main {
  padding: 0 100px 0 100px;
  margin: 0 auto;
  padding-top: 75px;
  width: 1200px;
}

div.main h2 {
  background-color: #292929;
  font-family: 'Playfair Display', serif;
  color: #f2f2f2;
  display: block;
  padding: 0 100px 0 20px;
  margin: 0;
  height: 50px;
  box-shadow: 15px #292929;
}

div.main p {
  padding: 50px;
  font-family: 'Playfair Display', serif;
}

div.main div {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 80%;
}

div.main ul {
  list-style: none;
}

div.main .languages i#html {
  font-size: 100px;
  padding: 30px;
  color: #e54b24;
}

div.main .languages i#css {
  font-size: 100px;
  padding: 30px;
  color: #007ec7;
}

div.main .languages li {
  text-align: center;
}

div.main .contact {
  text-align: center;
}

div.main .contact input {
  width: 300px;
  font-family: 'Playfair Display', serif;
  border: 1px solid indigo;
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  background-color: #292929;
}

div.main .contact textarea {
  width: 500px;
  height: 150px;
  font-family: 'Playfair Display', serif;
  border: 1px solid indigo;
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  background-color: #292929;
}

div.main .contact b {
  color: #cc0000;
}

div.main .contact .submit {
  background: linear-gradient(indigo, black);
  border: 1px solid #292929;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: 'Fjalla One', serif;
  letter-spacing: 10px;
}

div.main .contact i {
  font-size: 25px;
  padding: 10px;
  color: #292929;
}

div.main .contact i:hover {
  color: indigo;
}

div.main .contact p {
  display: inline;
  text-decoration: none;
  color: #292929;
  font-family: 'Playfair Display', serif;
  font-size: 80%;
  padding-left: 0;
}

div.main .contact .social {
  display: inline;
  text-align: center;
}

div.main .contact .phone-email li {
  display: inline;
}

div.main .contact h1 {
  color: #292929;
  margin-left: 30px;
  padding-top: 20px;
  letter-spacing: 20px;
}

div.main .contact button {
  margin-left: 40px;
  margin-top: 20px;
}

div.main .contact form {
  margin-left: 30px;
}

div.main .contact form h4 {
  padding: 0;
  margin: 10px 0;
  font-family: 'Playfair Display', serif;
}

div.main .contact form input[type=text]:focus, div.main .contact form textarea:focus, div.main .contact form input[type=email]:focus {
  box-shadow: 0 0 5px #490679;
  border: 1px solid #4a0080;
}

div.socialmedia ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

div.socialmedia li {
  display: inline;
}

div.socialmedia h1 {
  color: #292929;
  letter-spacing: 20px;
  text-align: center;
}

div.socialmedia i {
  font-size: 100px;
  padding: 20px;
  color: #292929;
}

div.socialmedia a {
  text-decoration: none;
}

div.socialmedia #facebook {
  color: #4368b1;
  text-shadow: 2px 2px #292929;
}

div.socialmedia #insta {
  color: #e52a43;
  text-shadow: 2px 2px #292929;
}

div.socialmedia #github {
  color: #6b2c81;
  text-shadow: 2px 2px #292929;
}

div.socialmedia #linkedin {
  color: #0676b2;
  text-shadow: 2px 2px #292929;
}

span.name {
  color: black;
  background-color: #f2f2f2;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

span.name h1 {
  color: black;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 200%;
  display: inline;
}

span.name img {
  width: 5%;
  padding: 0 5px 0 5px;
}

span.name li.nametag {
  display: inline;
}

nav#menu {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

nav#menu li.links {
  display: inline;
  padding: 10px;
}

nav#menu li.links a {
  text-decoration: none;
  color: #292929;
}

nav#menu li.links a:hover {
  color: indigo;
}

footer h5 {
  background-color: #292929;
  font-family: 'Playfair Display', sans-serif;
  color: #f2f2f2;
  display: block;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 70%;
  height: 30px;
  margin: 0;
  letter-spacing: 1px;
}
/*# sourceMappingURL=contact.css.map */