@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|Ribeye|Erica+One|Passion+One|Bowlby+One|Milonga|Peralta|Poppins");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
@font-face {
  font-family: 'Milkshake';
  src: url("fonts/milkshake.otf");
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #e0ebe8;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

html h1, body h1 {
  color: #292828;
  letter-spacing: 20px;
  text-align: center;
  font-family: 'Ribeye', cursive;
}

hr {
  width: 60%;
  height: 2px;
  background-color: #434242;
}

nav#horizontal {
  background-color: #0197A4;
  background-color: #293133;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 60px;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 40px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#horizontal ul {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding-top: 15px;
}

nav#horizontal ul li.links {
  list-style: none;
  height: 100%;
  border-right: 2px dashed #f2f2f2;
  margin: 0 auto;
  padding: 0;
}

nav#horizontal ul li.links:last-child {
  border: none;
}

nav#horizontal i {
  font-size: 150%;
  color: #f2f2f2;
}

nav#horizontal a {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 20px;
  color: white;
  font-family: 'Peralta';
}

nav#horizontal a:hover {
  background-color: #343f41;
  padding: 20px;
}

nav#horizontal a:active {
  background-color: #504e4e;
}

nav#horizontal .linksul {
  font-family: 'Peralta', sans-serif;
  text-transform: lowercase;
  height: 50px;
}

nav#horizontal .linksIcons {
  width: 30px;
}

nav#horizontal li.nametag {
  display: inline;
}

nav#horizontal li.nametag img#logo {
  height: 60px;
  width: 70px;
  top: 0;
  margin-top: -10px;
  padding-bottom: 5px;
  border-radius: 100%;
}

nav#dropdown {
  position: fixed;
  z-index: 9999;
  top: 0;
  padding-top: 10px;
  padding-left: 250px;
  display: none;
  width: 100vw;
}

nav#dropdown ul {
  display: flex;
  justify-content: center;
  align-content: center;
}

nav#dropdown ul.list {
  position: absolute;
  width: 100vw;
  background-color: #293133;
  display: flex;
  margin-top: 10px;
  left: 0;
}

nav#dropdown li.listLi:hover {
  background-color: #504e4e;
}

nav#dropdown li.listLi {
  display: none;
  padding: 10px;
  font-size: 15px;
  border-right: 1.5px dashed #f2f2f2;
}

nav#dropdown li.listLi:last-child {
  border: none;
}

nav#dropdown li.hamburgerLi i {
  font-size: 30px;
}

nav#dropdown li.hamburgerLi:hover li.listLi {
  display: block;
}

nav#dropdown li {
  list-style: none;
  display: block;
}

nav#dropdown a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  text-align: left;
}

@media only screen and (max-width: 900px) {
  main {
    width: 100%;
    background-color: #434242;
  }
  div.banner {
    padding-top: 20px;
  }
  span#textBanner img {
    height: 100vw;
  }
  span#textBanner .fa {
    font-family: 'Erica One', cursive;
    letter-spacing: 0;
    font-size: 50px;
  }
  footer {
    width: 100%;
  }
  .links {
    font-size: 15px;
    display: none;
  }
  .linksul {
    padding: 0;
    display: none;
  }
  .skills ul {
    flex-wrap: wrap;
    overflow-x: auto;
  }
  .footerUl {
    display: none;
  }
  .spacingDiv {
    display: none;
  }
  .goldengate {
    display: none;
  }
  .developer, .and, .designer {
    display: block;
    text-align: center;
    font-size: 40%;
  }
  nav#dropdown {
    display: inline;
  }
  div#buttons {
    display: none;
  }
}

.fa-bookmark {
  color: #C53E25;
  font-size: 120px;
  position: absolute;
  top: 0;
  padding-left: 30px;
}

main {
  width: 100vw;
  overflow: hidden;
  background-color: #e0ebe8;
}

main div {
  display: flex;
  flex-direction: column;
  background-color: #e0ebe8;
  width: 100vw;
}

.contactDiv {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 100px;
  color: #434242;
  padding-top: 100px;
}

.contactDiv .contact-form {
  margin: 0 auto;
  display: flex;
  align-content: center;
  background: none;
  float: left;
}

.contactDiv .contact-form ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  position: relative;
}

.contactDiv .contact-form ul li input {
  width: 300px;
  height: 40px;
  font-family: 'Playfair Display', serif;
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  background-color: #5d5b5b;
  border: 1px solid indigo;
}

.contactDiv .contact-form ul li textarea {
  width: 400px;
  height: 100px;
  font-family: 'Playfair Display', serif;
  border: 1px solid indigo;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  background-color: #5d5b5b;
}

.contactDiv .contact-form ul li b {
  color: #cc0000;
}

.contactDiv .contact-form ul li .submit {
  color: #f2f2f2;
  text-shadow: 2px 2px #434242;
  font-family: 'Fjalla One', serif;
  letter-spacing: 4px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 50px;
  float: right;
}

.contactDiv .contact-form ul li form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.contactDiv .contact-form ul li input[type=text]:focus, .contactDiv .contact-form ul li textarea:focus, .contactDiv .contact-form ul li input[type=email]:focus {
  box-shadow: inset 0 0 5px #490679;
}

.contactDiv #follow {
  display: flex;
  float: right;
  height: 100%;
  margin-right: 40px;
  margin-bottom: 100px;
  border-radius: 75px;
}

.contactDiv #follow ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
}

.contactDiv #follow li {
  font-family: 'Ribeye', cursive;
  list-style: none;
}

.contactDiv #follow i {
  font-size: 150%;
  padding: 10px;
}

footer {
  background-color: #434242;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  bottom: 0;
}

footer span {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

footer h5 {
  font-family: 'Playfair Display', serif;
  color: #f2f2f2;
  display: inline;
  font-size: 60%;
  letter-spacing: 2px;
  padding-bottom: .5vh;
}

footer .footerUl {
  bottom: 0;
  padding-right: 30px;
  margin: 0;
}

footer ul {
  display: inline;
}

footer li {
  display: inline;
}

footer i {
  color: #f2f2f2;
  padding-top: 6px;
  padding-left: 10px;
  font-size: 80%;
}

footer .fab:hover, footer .fas:hover {
  color: #5d5b5b;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f2f2f2;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #434242;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: indigo;
}
/*# sourceMappingURL=contact.css.map */