@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Londrina+Solid|Rozha+One');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$black: hsl(0, 0%, 16%);
$white: hsl(0, 0%, 95%);

html {
    font-family: 'Fjalla One', serif;
    background-image:url('https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a82c3751ed73cbbd31bbaef3d7233a83&auto=format&fit=crop&w=1050&q=80');

    body{
    padding: 0;
    margin: 0;
}
    ul {
        list-style: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $white; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: indigo; 
}

div.main {
    padding: 0 100px 0 100px;
    margin: 0 auto;
    padding-top: 75px;
    width: 1200px;


    h2 {
        background-color: $black;
        font-family: 'Playfair Display', serif;
        color: $white;
        display: block;
        padding: 0 100px 0 20px;
        margin: 0;
        height: 50px;
        box-shadow: 15px $black;
    }
    p {
        padding: 50px;
        font-family: 'Playfair Display', serif;
    }
    div {
        display: flex;
        flex-direction: column;
        background-color: $white;
        height: 80%;
    }

    ul {
        list-style: none;
    }
    
    .languages {
    
        i#html {
            font-size: 100px;
            padding: 30px;
            color: hsl(12, 79%, 52%);
        }

        i#css {
            font-size: 100px;
            padding: 30px; 
            color: hsl(202, 100%, 39%);
        }

        li {
            text-align: center;
            //margin: 0 auto;
            //display: inline;
        }
    }

    .contact {
        text-align: center;
        input {
            width: 300px;
            font-family: 'Playfair Display', serif;
            border: 1px solid indigo;
            box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 10px;
            background-color: $black;
        }
        textarea {
            width: 500px;
            height: 150px;
            font-family: 'Playfair Display', serif;
            border: 1px solid indigo;
            box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 10px;
            background-color: $black;
        }

        b {
            color: hsl(0, 100%, 40%);
        }
        .submit {
            background: linear-gradient(indigo, black);
            border: 1px solid $black;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            color: $white;
            text-transform: uppercase;
            font-family: 'Fjalla One', serif;
            letter-spacing: 10px;
        }
        i {
            font-size: 25px;
            padding: 10px;
            color: $black;
        }
        i:hover {
            color: indigo;
        }
        p {
            display: inline;
            text-decoration: none;
            color: $black;
            font-family: 'Playfair Display', serif;
            font-size: 80%;
            padding-left: 0;
        }
        .social {
            display: inline;
            text-align: center;
        }
        .phone-email {
            li {
                display: inline;
            }
            
        }
        h1 {
            color: $black;
            margin-left: 30px;
            padding-top: 20px;
            letter-spacing: 20px;
        }
        button {
            margin-left: 40px;
            margin-top: 20px;
        }
        form {
            margin-left: 30px;
            h4 {
                padding: 0;
                margin: 10px 0;
                //font-weight: 100;
                font-family: 'Playfair Display', serif;
                
            }
            input[type=text]:focus, textarea:focus, input[type=email]:focus {
                box-shadow: 0 0 5px hsl(275, 90%, 25%);
                border: 1px solid hsl(275, 100%, 25%);
              }
        }
    }
}

    div.socialmedia {
            ul {
                padding: 0;
                display: flex;
                justify-content: space-around;
            }
        li {
            display: inline;
        }

        h1 {
            color: $black;
            letter-spacing: 20px;
            text-align: center;
        }
        i {
            font-size: 100px;
            padding: 20px;
            color: $black;

        }
        a {
            text-decoration: none;
            //letter-spacing: 100px;
        }

        #facebook {
            color: hsl(220, 45%, 48%);
            text-shadow: 2px 2px $black;
        }
        #insta {
            color: hsl(352, 78%, 53%);
            text-shadow: 2px 2px $black;
        }
        #github {
            color: hsl(284, 49%, 34%);
            text-shadow: 2px 2px $black;
        }
        #linkedin {
            color: hsl(201, 94%, 36%);
            text-shadow: 2px 2px $black;
        }

    }

span.name {
        color: black;
        background-color: $white;
        width: 100%;
        position: fixed;  
        z-index: 9999;
        top: 0;
        left:0;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


            h1 {
                color: black;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 200%;
                display: inline;
                
        }
        img {
            width: 5%;
            padding: 0 5px 0 5px;
        }
        li.nametag {
            display: inline;
        }

}

nav#menu{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;

    li.links {
        display: inline;
        padding: 10px;
        
        a {
            text-decoration: none;
            color: $black;

        }
        a:hover {
            color: indigo;
        }
    }
}

footer {
    h5 { 
        background-color: $black;
        font-family: 'Playfair Display', sans-serif;
        color: $white;
        display: block;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 70%;
        height: 30px;
        margin: 0;
        letter-spacing: 1px; 
    }
}
