@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|IBM+Plex+Serif|Bangers|Ribeye|Henny+Penny');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

$black: hsl(0, 1%, 26%);
$white: hsl(0, 0%, 95%);

html {
    font-family: 'Fjalla One', serif;
    background-image:url('https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a82c3751ed73cbbd31bbaef3d7233a83&auto=format&fit=crop&w=1050&q=80');

    body{
    padding: 0;
    margin: 0;
}
    ul {
        list-style: none;
    }
}

//Navigation
span#topNavBar {
    color: $white;
    background-color: none;
    width: 100%;
    position: absolute;  
    z-index: 9999;
    top: 0;
    left:0;
    // box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    // border-bottom: 2px dashed $black;


        h1 {
            text-transform: uppercase;
            font-size: 40px;
            display: inline;
            text-shadow: 3px 3px $black;

            
    }
    li.nametag {
        display: inline;
    }

    nav#menu{
        display: flex;
        justify-content: space-around;

        img#ember {
            width: 50px;
            margin: -10px 10px -4px -115px;
        }

        .linksul {
            padding-top: 7px;
        }

    li.links {
        display: inline;
        padding: 10px;
        
        a {
            text-decoration: none;
            color: $white;
            padding: 2px 0 2px 0;
            font-size: 30px;
            text-shadow: 1px 2px $black;
            // font-family: 'Ribeye';

        }
        a:hover {
            background-color: $white;
            color: rgba(0, 0, 0, .5);
            border-radius: 3px;
            padding: 2px 0 2px 0;
            text-shadow: none;
        }
    }
}
}

// .nav-transparent{
//     background-color: hsla(0, 0, 0, 0);
//     color: $white;
//     width: 100%;
//     position: fixed;  
//     z-index: 9999;
//     top: 0;
//     left:0;
//     a {
//         color: $white;
//     }
// }

// .nav-colored {
//     background-color: $white;
//     color: $black;
//     width: 100%;
//     position: fixed;  
//     z-index: 9999;
//     top: 0;
//     left:0;
// }


div.main {
    margin: 0 5%;
    // padding-top: 60px;
    width: 90%;
    box-shadow: -1px 0 5px 10px rgba(0, 0, 0, 0.1);
    
    div {
        display: flex;
        flex-direction: column;
        background-color: $white;
        height: 80%;

        
    }   
}

div.banner {
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2); 
    video {
        width: 100%;
    }
    h3 {
        padding-top: 400px;
        padding-left: 200px;
        color: $white;
        font-size: 5vw;
        text-shadow: 4px 4px $black;
        letter-spacing: 10px;
        margin: 0 auto;
        position: absolute;
        font-family: 'Bangers';
    }

}

// ABOUT

.aboutDiv {
    h1 {
        text-align: center;
        letter-spacing: 20px;
        font-family: 'Ribeye';
        color: $black;

    }

.about {
    background-color: $white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;


    img.headshot {
        width: 300px !important;
        height: 400px;
        margin: 40px 50px 30px 50px;
        border-right: 1.5px solid $black;
        padding-right: 200px;
    }

    div#textBox {
        background-color: $white;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width: 50%;
        box-shadow: none;
        color: $black;

    }
} }

// WORK

#skills {

    h1 {
        text-align: center;
        letter-spacing: 20px;
        font-family: 'Ribeye';
        color: $black;
    }

    ul {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    li {
        text-align: center;
        margin: 0 auto;
        display: inline;

        i {
            font-size: 120px;
            padding: 10px 10px 10px 0;
            cursor: pointer;
        }
    }

}
}
.work {
       background-color: $white;
       overflow: hidden; 
       box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
    h1 {
        text-align: center;
        letter-spacing: 20px;
        font-family: 'Ribeye';
    }
    img {
        width: 400px;
        height: 300px;
        padding: 0;
        margin: 0;
        opacity: 0.5;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
        cursor: pointer;
    }

    img:hover {
        opacity: 1;
    }

    ul {
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    li {
        display: inline;
        
    }
}

// CONTACT
.contactDiv {

    h1 {
        color: $black;
        letter-spacing: 20px;
        text-align: center;
        font-family: 'Ribeye';
    }

}
.contact {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: $white;


    input {
        width: 300px;
        font-family: 'Playfair Display', serif;
        border: 1px solid indigo;
        box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 10px;
        background-color: $black;
    }
    textarea {
        width: 300px;
        height: 150px;
        font-family: 'Playfair Display', serif;
        border: 1px solid indigo;
        box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 10px;
        background-color: $black;
    }

    b {
        color: hsl(0, 100%, 40%);
    }
    .submit {
        background: linear-gradient(indigo, black);
        border: 1px solid $black;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        color: $white;
        text-transform: uppercase;
        font-family: 'Fjalla One', serif;
        letter-spacing: 10px;
        width: 320px;
        height: 30px;
        cursor: pointer;
    }
    i {
        font-size: 25px;
        padding: 10px;
        color: $black;
    }
    i:hover {
        color: indigo;
    }
    p {
        display: inline;
        text-decoration: none;
        color: $black;
        font-family: 'Playfair Display', serif;
        font-size: 80%;
        padding-left: 0;
    }
        
    }

    form {
        margin-left: 30px;
        h4 {
            padding: 0;
            margin: 10px 0;
            //font-weight: 100;
            font-family: 'Playfair Display', serif;
            
        }
        input[type=text]:focus, textarea:focus, input[type=email]:focus {
            box-shadow: inset 0 0 5px hsl(275, 90%, 25%);
            border: 1px solid hsl(275, 100%, 25%);
          }
    }


div.socialmedia {
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 40%;

    h1 {
        color: $black;
        letter-spacing: 20px;
        text-align: center;
        font-size: 99%;
    }
    i {
        font-size: 40px;
        padding: 20px;
        color: $black;

    }
    a {
        text-decoration: none;
    }

    #insta {
        color: hsl(352, 78%, 53%);
        margin: 0 auto;
        // text-shadow: 2px 2px $black;
    }
    #linkedin {
        color: hsl(201, 94%, 36%);
        // text-shadow: 2px 2px $black;
    }

}



footer {
    h5 { 
    background-color: $black;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 100;
    color: $white;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 70%;
    height: 20px;
    margin: 0;
    letter-spacing: 1px; 
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $white; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(275, 100%, 25%); 
}