@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|IBM+Plex+Serif|Bangers|Ribeye|Henny+Penny|Glass+Antiqua");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
html {
  font-family: 'Fjalla One', serif;
}

html body {
  padding: 0;
  margin: 0;
}

html ul {
  list-style: none;
}

hr {
  background-color: #e0ebe8;
}

span#topNavBar {
  color: #434242;
  background-color: #434242;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 50px;
}

span#topNavBar h1 {
  text-transform: uppercase;
  font-size: 5vw;
  display: inline;
  text-shadow: 3px 3px #434242;
}

span#topNavBar ul {
  margin: 0;
  padding-top: 2px;
}

span#topNavBar li.nametag {
  display: inline;
  background-image: url("img/name.png");
}

span#topNavBar nav#menu {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

span#topNavBar nav#menu img#ember {
  width: 5vw;
  margin: -10px 10px -4px -115px;
}

span#topNavBar nav#menu .linksul {
  padding-top: 1px;
  display: flex;
  align-content: center;
  padding-left: 1000px;
}

span#topNavBar nav#menu li.links {
  display: inline;
}

span#topNavBar nav#menu li.links a {
  text-decoration: none;
  padding: 1vw;
  font-size: 1vw;
  color: #f2f2f2;
}

span#topNavBar nav#menu li.links a:hover {
  background-color: #504e4e;
}

img#logo {
  height: 2vw;
}

div.main {
  width: 100%;
  background-color: #e0ebe8;
}

div.main div {
  display: flex;
  flex-direction: column;
  background-color: #e0ebe8;
  height: 80%;
}

div.banner {
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  top: 0;
}

div.banner video {
  width: 100%;
}

div.banner span#textBanner {
  position: absolute;
  height: 10vw;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding-top: 15vw;
}

div.banner h3 {
  color: #f2f2f2;
  font-size: 2vw;
  letter-spacing: 10px;
  margin: 0 auto;
  font-family: 'Ribeye';
}

div.banner h2 {
  color: #f2f2f2;
  font-size: 5vw;
  letter-spacing: 15px;
  margin: 0 auto;
  font-family: 'Erica One';
}

div.banner div#buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 20px;
  z-index: 9996;
  background: transparent;
  padding-top: 13vw;
}

div.banner div#buttons i {
  color: #f2f2f2;
  padding: 10px;
  font-size: 3vw;
}

div.banner div#buttons a:hover i::before {
  opacity: 0;
}

div.banner div#buttons a:hover i::after {
  content: ' ';
  font-size: 20px;
}

.aboutDiv {
  background-color: #e0ebe8;
}

.aboutDiv h1 {
  text-align: center;
  letter-spacing: 20px;
  font-family: 'Ribeye';
  color: #292828;
}

.aboutDiv .about {
  background-color: #e0ebe8;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.aboutDiv .about img.headshot {
  width: 40vw !important;
  height: 40vw;
  padding: 10px 30px 30px 10px;
  border-radius: 100%;
}

.aboutDiv .about div#textBox {
  background-color: #e0ebe8;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 40%;
  box-shadow: none;
  color: #434242;
  font-family: 'Glass Antiqua';
  font-size: 120%;
  line-height: 30px;
  padding-left: 40px;
}

#skills {
  background-color: #e0ebe8;
}

#skills h1 {
  text-align: center;
  letter-spacing: 20px;
  font-family: 'Ribeye';
  color: #292828;
}

#skills ul {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#skills ul li {
  text-align: center;
  margin: 0 auto;
  display: inline;
}

#skills ul li i {
  font-size: 120px;
  padding: 10px 10px 10px 0;
  cursor: pointer;
}

.work {
  background-color: #e0ebe8;
  overflow: hidden;
}

.work h1 {
  text-align: center;
  letter-spacing: 20px;
  font-family: 'Ribeye';
  color: #292828;
}

.work img {
  width: 400px;
  height: 300px;
  padding: 0;
  margin: 0;
  opacity: 0.8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.work img:hover {
  opacity: 1;
}

.work ul {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.work li {
  display: inline;
}

.contactDiv {
  padding-bottom: 30px;
  background-color: #e0ebe8;
}

.contactDiv h1 {
  color: #292828;
  letter-spacing: 20px;
  text-align: center;
  font-family: 'Ribeye';
}

.contact {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: #e0ebe8;
}

.contact input {
  width: 300px;
  font-family: 'Playfair Display', serif;
  border: 1px solid indigo;
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  background-color: #434242;
}

.contact textarea {
  width: 300px;
  height: 150px;
  font-family: 'Playfair Display', serif;
  border: 1px solid indigo;
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  background-color: #434242;
}

.contact b {
  color: #cc0000;
}

.contact .submit {
  background: linear-gradient(indigo, black);
  border: 1px solid #434242;
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: 'Fjalla One', serif;
  letter-spacing: 4px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

form {
  margin-left: 30px;
}

form h4 {
  padding: 0;
  margin: 10px 0;
  font-family: 'Playfair Display', serif;
}

form input[type=text]:focus, form textarea:focus, form input[type=email]:focus {
  box-shadow: inset 0 0 5px #490679;
  border: 1px solid #4a0080;
}

div.socialmedia {
  width: 40%;
  background-color: #e0ebe8 !important;
}

div.socialmedia h1 {
  color: #434242;
  letter-spacing: 20px;
  text-align: center;
  font-size: 99%;
}

div.socialmedia i {
  font-size: 40px;
  padding: 20px;
  color: #434242;
}

div.socialmedia a {
  text-decoration: none;
}

div.socialmedia #insta {
  color: #e52a43;
  margin: 0 auto;
}

footer {
  background-color: #434242;
  width: 100%;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  padding-bottom: 5px;
}

footer h5 {
  background-color: #434242;
  font-family: 'Ribeye', cursive;
  font-weight: 100;
  color: #f2f2f2;
  display: inline;
  padding-left: 10px;
  font-size: 70%;
  letter-spacing: 1px;
  line-height: 15px;
  padding-bottom: .5vh;
}

footer ul {
  display: inline;
  padding-left: 75vw;
}

footer li {
  display: inline;
}

footer i {
  color: #f2f2f2;
  padding-top: 6px;
  padding-left: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f2f2f2;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #434242;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a0080;
}
/*# sourceMappingURL=style.css.map */