@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|Ribeye|Erica+One|Passion+One|Bowlby+One|Milonga|Peralta|Poppins|Oleo+Script|Yeseva+One|Lobster|Abril+Fatface|Luckiest+Guy|Chelsea+Market|Slackey|Sail|Ranchers|Elsie|Titan+One");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #e0ebe8;
  padding: 0;
  margin: 0;
}

html h1, body h1 {
  color: #0d0d0d;
  letter-spacing: 20px;
  text-align: center;
  font-family: 'Ribeye', cursive;
}

@media only screen and (max-width: 900px) {
  main {
    width: 100%;
    background-color: #272626;
  }
  div.banner {
    padding-top: 20px;
  }
  span#textBanner img {
    height: 100vw;
  }
  span#textBanner .fa {
    font-family: 'Erica One', cursive;
    letter-spacing: 0;
    font-size: 70px;
  }
  footer {
    width: 100%;
  }
  .links {
    font-size: 15px;
    display: none;
  }
  .linksul {
    padding: 0;
    display: none;
  }
  .skills ul {
    flex-wrap: wrap;
    overflow-x: auto;
  }
  .footerUl {
    display: none;
  }
  .spacingDiv {
    display: none;
  }
  .goldengate {
    display: none;
  }
  .developer, .and, .designer {
    display: block;
    text-align: center;
    font-size: 100%;
    line-height: 40px;
  }
  nav#dropdown {
    display: inline;
  }
  div#buttons {
    display: none;
  }
  div.about {
    width: 100vw;
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: 100%;
  }
  html, body {
    overflow: visible;
  }
}

@media screen and (orientation: landscape) {
  .goldengate {
    display: block;
  }
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e0ebe8;
  overflow-y: hidden;
}

main div {
  display: flex;
  flex-direction: column;
  background-color: #e0ebe8;
}

main .fa {
  font-family: 'Erica One';
  font-family: 'Elsie';
  letter-spacing: -5px;
  font-size: 10vw;
  text-shadow: 0 0 40px black;
  opacity: 0;
}

main .fallingI {
  animation: floatDown 1s ease 2s forwards;
}

main .fallingSymbol {
  animation: floatDown 1s ease 2.5s forwards;
}

main .fallingM {
  animation: floatDown 1s ease 2.9s forwards;
}

main .space {
  margin-top: -50px;
}

main .fallingS {
  animation: floatDown 1s ease 2.5s forwards;
}

main .fallingA {
  animation: floatDown 1s ease 2.65s forwards;
}

main .fallingR {
  animation: floatDown 1s ease 3s forwards;
}

main .fallingA2 {
  animation: floatDown 1s ease 2.5s forwards;
}

main .fallingH {
  animation: floatDown 1s ease 2.25s forwards;
}

main div.banner {
  top: 0;
  overflow: hidden;
}

main div.banner img.forest {
  width: 105vw;
  height: 105vh;
  overflow: hidden;
  display: none;
}

main div.banner img.goldengate {
  width: 105vw;
  height: 105vh;
  display: flex;
  justify-content: center;
  align-self: center;
}

main div.banner span#textBanner {
  position: absolute;
  height: 10vh;
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100vw;
}

main div.banner h3 {
  color: #f2f2f2;
  margin: 0 auto;
  font-family: 'Peralta';
  font-family: 'Elsie';
  padding-top: 58vh;
  z-index: 9997;
  font-size: 100px;
  text-shadow: 0 0 20px black;
}

main div.banner h2 {
  color: #f2f2f2;
  font-size: 75px;
  letter-spacing: 15px;
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 9997;
}

main div.banner h4 {
  text-align: center;
}

main div.banner h4 a {
  color: #f2f2f2;
}

span.banner {
  width: 70vw;
  height: 40px;
  background-color: #2e3538;
  position: absolute;
  margin-top: 70px;
  margin-left: 200px;
}

.aboutmeDiv {
  background: url("https://cdn.pixabay.com/photo/2018/01/21/01/46/architecture-3095716_1280.jpg");
  background-size: cover;
  width: 100vw;
}

div.about {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  width: 70vw;
  margin-top: 100px;
  height: 475px;
  box-shadow: 0 0 50px black;
  border-radius: 15px;
  margin-left: 200px;
  margin-bottom: 100px;
}

div.about div.aboutInfo {
  width: 100%;
  display: block;
}

div.about div.aboutInfo i {
  font-size: 25px;
}

div.about div.aboutInfo img {
  width: 40px;
}

div.about div.photo {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-self: center;
  justify-content: center;
  align-items: center;
}

div.about div.photo div.facts {
  text-align: center;
  padding: 20px;
}

div.about div.photo div.facts h3 {
  font-size: 100%;
}

div.about div.photo div.facts img.pin {
  width: 25px;
  height: 25px;
}

div.about div.photo img.headshot {
  padding: 30px 0 0 20px;
  width: 300px;
  height: 301px;
}

div.about div.photo div.textBox {
  display: flex;
  align-content: center;
  justify-content: center;
  color: black;
  font-size: 100%;
  padding: 60px;
  height: 100%;
}

div.about div.photo div.textBox span {
  font-weight: bold;
}

div.about div.photo div.textBox .row {
  display: flex;
  flex-direction: row;
}

div.about div.photo div.textBox .row i {
  font-size: 200%;
  padding: 20px;
}

div.about div.photo span.passion {
  color: red;
}

div.about div.photo span.love {
  color: indigo;
}

footer {
  background-color: #2e3538;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  bottom: 0;
}

footer span {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

footer h5 {
  font-family: 'Playfair Display', serif;
  color: #f2f2f2;
  display: inline;
  font-size: 60%;
  letter-spacing: 2px;
  padding-bottom: .5vh;
}

footer .footerUl {
  bottom: 0;
  padding-right: 30px;
  margin: 0;
}

footer ul {
  display: inline;
}

footer li {
  display: inline;
}

footer i {
  color: #f2f2f2;
  padding-top: 6px;
  padding-left: 10px;
  font-size: 90%;
}

footer .fab:hover, footer .fas:hover {
  color: #403f3f;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f2f2f2;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: indigo;
}

@keyframes floatDown {
  from {
    padding-top: 0;
    opacity: 0;
  }
  to {
    padding-top: 35vh;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */