// ADD GITHUB PULL FROM APR18


@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|Ribeye|Erica+One|Passion+One|Bowlby+One|Milonga|Peralta|Poppins|Oleo+Script|Yeseva+One');
@font-face {
    font-family: 'Autumn In November';
    src: url('fonts/milkshake.otf');
}
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

$black: hsl(0, 1%, 15%);
$white: hsl(0, 0%, 95%);
$sky: hsl(165, 20%, 90%);
$blueblack: hsl(200, 10%, 20%);

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: $sky;
    padding: 0;
    margin: 0;
    overflow-y: hidden;

    h1 {
        color: darken($black, 10%);
        letter-spacing: 20px;
        text-align: center;
        font-family: 'Ribeye', cursive;
    }

}


//Navigation
nav#horizontal {
    background-color: $blueblack;
    width: 100vw;
    position: fixed;  
    z-index: 9999;
    top: 0;
    left:0;
    height: 80px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 40px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    ul.linksul{
        display: flex;
        justify-content: center;
        align-content: center;
        font-family: 'Oleo Script', sans-serif;
        text-transform: lowercase;
        padding: 0;
        margin: 0;

        li.links {
            list-style: none;
            padding: 0;
        }

        a {
            text-decoration: none;
            margin: 0 auto;
            color: white;
            font-family: 'Yeseva One';
            text-transform: uppercase;
            padding: 30px;
    
        }

        a:hover {
            background-color: lighten(#293133, 5%);
            height: 100%;
            //padding: 14px 25px;
            //border-radius: 15px;

        }}

    li.nametag {
        display: inline;
    img#logo{
        height: 150px;
        width: 255px;
        top: 0;
        padding-top: 25px;
        border-radius: 100%;
        
}
}
}


.fa-bookmark {
    color: #C53E25;
    font-size: 120px;
    position: absolute;
    top: 0;
    padding-left: 35px;
}


img.linksIcons {
    width: 40px;
    padding-top: 10px;
}

// dropdown

    nav#dropdown{
        //width: 100%;
        position: fixed;  
        z-index: 9999;
        top: 0;
        padding-top: 10px;
        padding-left: 250px;
        display: none;
        width: 100vw;

        ul {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        ul.list {
            position: absolute;
            width: 100vw;
            background-color: #293133;
            display: flex;
            left: 0;
            //box-shadow: 0 20px $black;
            
        }
        li.listLi:hover {
            background-color: lighten($black, 5%);
        }
        li.listLi{
            display: none;
            padding-top: 10px;
            padding: 10px;
            font-size: 15px;
            border-right: 1.5px dashed $white;
            

            &:last-child {
                border: none;
            }
        }

        li.hamburgerLi {
            i {
                font-size: 30px;
            }
        }
        li.hamburgerLi:hover{

            li.listLi {
                display: block;
                
            }
        }
        li {
            list-style: none;
            display: block;
        }
        a {
            color: $white;
            text-decoration: none;
            font-size: 15px;
            text-align: left;
            a:hover {
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
            }
        } 

    }

    // MOBILE ONLY
    @media only screen and (max-width: 900px) {
        main{ width: 100%; background-color: $black;}
        div.banner { padding-top: 20px; }
        span#textBanner {img { height: 100vw; } .fa { font-family: 'Erica One', cursive; letter-spacing: 0; font-size: 70px; }}
        footer{ width: 100%; }
        .links { font-size: 15px; display: none;}
        .linksul { padding:0; display: none; }
        .skills { ul { flex-wrap: wrap;
            overflow-x: auto; } }
        .footerUl { display: none; }
        .spacingDiv { display: none; }
        // video#myVideo { display: none; }
        .goldengate { display: none; }
        .developer, .and, .designer { display: block; text-align: center; font-size: 100%; line-height: 40px;}
        nav#dropdown { display: inline; }
        div#buttons { display: none; }
      }

      @media screen and (orientation:landscape) {
        .goldengate { display: block; }
     }


    //   .spacingDiv {
    //       height: 40px;
    //   }

main {
    width: 100vw;
    overflow: hidden;
    background-color: $sky;
    
    div {
        display: flex;
        flex-direction: column;
        background-color: $sky;
        width: 100vw;

        
    }   

div.banner {
    top: 0;
    video {
        width: 100vw;
        z-index: 999;
    }
    img.forest {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    img.goldengate {
        width: 100vw;
        height: 100vh;
    }
    span#textBanner {
        position: absolute;
        height: 10vh;
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 100vw;
        
    }

    h3 {
        color: $white;
        letter-spacing: -5px;
        margin: 0 auto;
        font-family: 'Peralta';
        padding-top: 45vh;
        z-index: 9997;
        font-size: 70px; 
        text-shadow: 0 0 20px black;

    }


    h2 {
        color: $white;
        font-size: 75px;
        //text-shadow: 4px 4px black;
        letter-spacing: 15px;
        margin: 0 auto;
        position: absolute;
        //animation: float 2s ease 1s forwards;
        display: flex;
        justify-content: center;
        align-self: center;
        z-index: 9997;
    }
    div#buttons {
        position: static;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        height: 20px;
        z-index: 9996;
        background: transparent;
        padding-top: 5vw;
        text-shadow: 0 0 20px black;

        @media (max-width: 900px) {
            display: none;
        }
        i {
            color: $white;
            padding: 10px;
            font-size: 5vw;
            position: relative;
        }


        a:hover {
            i {
                opacity: 0;
            }
        }
            a:after {
                content: 'HOME';
                position: absolute;
                text-align: center;
                width: 100%;
            }
        
}}
}

.fa {
    //font-family: 'Peralta', cursive;
    font-family: 'Erica One';
    letter-spacing: -5px;
    font-size: 8vw;
    text-shadow: 0 0 20px   black;
    opacity: 0;
}

.fallingI {
    animation: floatDown 1s ease 2s forwards;
}

.fallingSymbol {
    animation: floatDown 1s ease 2.5s forwards;
}

.fallingM {
    animation: floatDown 1s ease 2.9s forwards;
}

.space {
    margin-top: -50px;
}

.fallingS {
    animation: floatDown 1s ease 2.5s forwards;
}

.fallingA {
    animation: floatDown 1s ease 2.65s forwards;
}

.fallingR {
    animation: floatDown 1s ease 3s forwards;
}

.fallingA2 {
    animation: floatDown 1s ease 2.5s forwards;
}

.fallingH {
    animation: floatDown 1s ease 2.25s forwards;
}

footer {
    background-color: $blueblack;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    bottom: 0;


    span {
        display: flex;
        justify-content: space-between;
        height: 30px;
    }
    h5 {
    font-family: 'Playfair Display', serif;
    color: $white;
    display: inline;
    font-size: 60%;
    letter-spacing: 2px;
    padding-bottom: .5vh;

    }

    .footerUl {
        bottom: 0;
        padding-right: 30px;
        margin: 0;
    }
ul {
    display: inline;
    //padding-left: 70vw;

    
}
li{
    display: inline;
}
    i {
        color: $white;
        padding-top: 6px;
        padding-left: 10px;
        font-size: 80%;
    }
    .fab:hover, .fas:hover{
        color: lighten($black, 10%);
    }
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $white; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(275, 100%, 25%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(275, 100%, 25%); 
}
    



@keyframes fillUp {
    from { background: none; }
    to { transition: background-size 0.25s ease-in; }
}

@keyframes floatDown {
    from { padding-top: 0; opacity: 0; }
    to { padding-top: 35vh; opacity: 1; }
}

@keyframes floatUp {
    from { bottom: 0;}
    to { top: 5vw; }
}

@keyframes spinspin {
    from {transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}