@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|IBM+Plex+Serif|Bangers|Ribeye|Henny+Penny|Glass+Antiqua");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
html {
  background-color: #434242;
}

html body {
  padding: 0;
  margin: 0;
}

html body h1 {
  color: #292828;
  letter-spacing: 20px;
  text-align: center;
  font-family: 'Ribeye', cursive;
}

hr {
  width: 60%;
  height: 2px;
  background-color: #434242;
}

nav#horizontal {
  background-color: #434242;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 8vh;
  box-shadow: -1px 2px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 40px 10px 0;
}

nav#horizontal span {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}

nav#horizontal ul {
  display: flex;
  justify-content: right;
}

nav#horizontal ul li.links {
  list-style: none;
  padding: 2px 1px;
}

nav#horizontal i {
  font-size: 150%;
  color: #f2f2f2;
}

nav#horizontal a {
  text-decoration: none;
  font-size: 1.25vw;
  letter-spacing: 2px;
  padding: 20px;
}

nav#horizontal .fab:hover, nav#horizontal .fas:hover {
  color: #484747;
  text-shadow: 0 0 20px #f2f2f2;
}

nav#horizontal .linksul {
  font-family: 'Ribeye', cursive;
}

nav#horizontal li.nametag {
  display: inline;
}

nav#horizontal li.nametag img#logo {
  height: 40px;
  width: 45px;
  text-shadow: 0 0 20px #f2f2f2;
}

nav#dropdown {
  display: none;
  background-color: #434242;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 60px;
  box-shadow: -1px 2px 2px 3px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-left: 300px;
}

nav#dropdown ul.list {
  position: absolute;
  width: 170px;
  padding: 10px;
  background-color: #434242;
}

nav#dropdown li.listLi:hover {
  background-color: #504e4e;
}

nav#dropdown li.listLi {
  display: none;
  margin-top: 10px;
  padding: 15px;
  font-size: 15px;
}

nav#dropdown li.hamburgerLi:hover li.listLi {
  display: block;
}

nav#dropdown li {
  list-style: none;
  display: block;
}

nav#dropdown a {
  color: #f2f2f2;
  text-decoration: none;
}

@media (max-width: 900px) {
  main {
    width: 100%;
  }
  div.banner {
    padding-top: 40px;
  }
  div.banner h3 {
    font-size: 12px;
    padding-top: 10px;
  }
  footer {
    width: 100%;
  }
  .links {
    padding: 0;
  }
  .links i {
    font-size: 300%;
  }
  .linksul {
    padding: 0;
  }
}

main {
  width: 100vw;
  overflow: hidden;
  background-color: #e0ebe8;
}

main div {
  display: flex;
  flex-direction: column;
  background-color: #e0ebe8;
  width: 100vw;
}

main div.banner {
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  top: 0;
}

main div.banner video {
  width: 100%;
}

main div.banner span#textBanner {
  position: absolute;
  height: 10vw;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding-top: 15vw;
}

main div.banner h3 {
  color: #f2f2f2;
  letter-spacing: 10px;
  margin: 0 auto;
  font-family: 'Ribeye';
}

main div.banner h2 {
  color: #f2f2f2;
  font-size: 5vw;
  letter-spacing: 15px;
  margin: 0 auto;
  font-family: 'Erica One';
}

main div.banner div#buttons {
  position: static;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 20px;
  z-index: 9996;
  background: transparent;
  padding-top: 3vw;
}

main div.banner div#buttons i {
  color: #f2f2f2;
  padding: 10px;
  font-size: 3vw;
}

main div.banner div#buttons a:hover i::before {
  opacity: 0;
}

main div.banner div#buttons a:hover i::after {
  content: ' ';
  font-size: 20px;
}

main .aboutDiv {
  background-color: #e0ebe8;
}

main .aboutDiv .about {
  background-color: #e0ebe8;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', cursive;
  width: 100%;
}

main .aboutDiv .about .aboutInfo {
  width: 100%;
  display: block;
}

main .aboutDiv .about .aboutInfo i {
  font-size: 25px;
}

main .aboutDiv .about .photos {
  display: flex;
  flex-direction: row;
}

main .aboutDiv .about img.headshot {
  width: 20vw;
  height: 21vw;
  padding: 5px;
  margin: 10vh 10vw 10vh 10vw;
  border-radius: 100%;
  border: 3px solid #84aea3;
}

main .aboutDiv .about .codeIcon {
  display: flex;
  justify-content: center;
  font-size: 400%;
  color: #434242;
  background-color: transparent;
}

main .aboutDiv .about div.textBox {
  background-color: #e0ebe8;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 80%;
  box-shadow: none;
  color: #434242;
  font-size: 120%;
  line-height: 30px;
  padding-left: 40px;
}

main .aboutDiv .about div.textBox #facts h1 {
  font-size: 150%;
}

main .aboutDiv .about div.textBox #facts .row {
  display: flex;
  flex-direction: row;
}

main .aboutDiv .about div.textBox #facts .row i {
  font-size: 200%;
  padding: 20px;
}

main .work {
  background-color: #e0ebe8;
  overflow: hidden;
  font-family: 'Playfair Display';
  font-size: 10px;
  width: 100vw;
}

main .work img {
  width: 400px;
  height: 300px;
  padding: 0;
  margin: 0;
  opacity: 0.8;
  cursor: pointer;
}

main .work .fas {
  position: absolute;
  font-size: 50px;
  padding-top: 50px;
  opacity: 1;
}

main .work img:hover {
  opacity: 1;
}

main .work ul {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100vw;
}

main .work li {
  display: inline;
}

main #skills {
  background-color: #e0ebe8;
  padding: 100px 0 100px;
}

main #skills ul {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

main #skills ul li {
  text-align: center;
  margin: 0 auto;
  display: inline;
}

main #skills ul li i {
  font-size: 120px;
  padding: 10px 10px 10px 0;
  cursor: pointer;
}

main .contactDiv {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 100px;
  color: #434242;
}

main .contactDiv .contact-form {
  margin: 0 auto;
  display: flex;
  align-content: center;
  background: none;
  float: left;
}

main .contactDiv .contact-form ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  position: relative;
}

main .contactDiv .contact-form ul li input {
  width: 300px;
  height: 40px;
  font-family: 'Playfair Display', serif;
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  background-color: #5d5b5b;
  border: 1px solid indigo;
}

main .contactDiv .contact-form ul li textarea {
  width: 400px;
  height: 100px;
  font-family: 'Playfair Display', serif;
  border: 1px solid indigo;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  background-color: #5d5b5b;
}

main .contactDiv .contact-form ul li b {
  color: #cc0000;
}

main .contactDiv .contact-form ul li .submit {
  color: #f2f2f2;
  text-shadow: 2px 2px #434242;
  font-family: 'Fjalla One', serif;
  letter-spacing: 4px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 50px;
  float: right;
}

main .contactDiv .contact-form ul li form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

main .contactDiv .contact-form ul li input[type=text]:focus, main .contactDiv .contact-form ul li textarea:focus, main .contactDiv .contact-form ul li input[type=email]:focus {
  box-shadow: inset 0 0 5px #490679;
}

main .contactDiv #follow {
  display: flex;
  float: right;
  height: 100%;
  margin-right: 40px;
  margin-bottom: 100px;
  border-radius: 75px;
}

main .contactDiv #follow ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
}

main .contactDiv #follow li {
  font-family: 'Ribeye', cursive;
  list-style: none;
}

main .contactDiv #follow i {
  font-size: 150%;
  padding: 10px;
}

footer {
  background-color: #434242;
  width: 100%;
  position: fixed;
  z-index: 9999;
  bottom: 0;
}

footer span {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

footer h5 {
  font-family: 'Playfair Display', serif;
  color: #f2f2f2;
  display: inline;
  font-size: 65%;
  letter-spacing: 2px;
  padding-bottom: .5vh;
}

footer .footerUl {
  bottom: 0;
  padding-right: 30px;
  margin: 0;
}

footer ul {
  display: inline;
}

footer li {
  display: inline;
}

footer i {
  color: #f2f2f2;
  padding-top: 6px;
  padding-left: 10px;
  font-size: 80%;
}

footer .fab:hover, footer .fas:hover {
  color: #5d5b5b;
}
/*# sourceMappingURL=style.css.map */