@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|IBM+Plex+Serif|Bangers|Ribeye|Henny+Penny|Glass+Antiqua');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

$black: hsl(0, 1%, 26%);
$white: hsl(0, 0%, 95%);
$sky: hsl(164, 21%, 90%);
html {
    background-color: $sky;
body{
    padding: 0;
    margin: 0;

    h1 {
        color: darken($black, 10%);
        letter-spacing: 20px;
        text-align: center;
        font-family: 'Ribeye', cursive;
    }

}}


hr{
    width: 60%;
    height: 2px;
    background-color: $black;
}

//Navigation
span#topNavBar {
    background-color: $black;
    width: 100%;
    position: fixed;  
    z-index: 9999;
    top: 0;
    left:0;
    height: 60px;
    box-shadow: -1px 2px 2px 3px rgba(0, 0, 0, 0.2);

    ul {
        margin: 0;
        padding-top: 2px;
    }
    li.nametag {
        display: inline;
    }

    nav#menu{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;

        .linksul {
            font-family: 'Ribeye', cursive;
        }

    li.links {
        display: inline;
        
        i {
            font-size: 150%;
            color: $white;
        }
        a {
            text-decoration: none;
            font-size: 1.25vw;
            color: $white;
            letter-spacing: 2px;
            padding: 20px;

        }
        a:hover {
            background-color: lighten($black, 5%);
        }
    }
}
}

img#logo{
    height: 40px;
    width: 45px;
}

main {
    float: none;
    width: 100%;
    background-color: $sky;
    
    div {
        display: flex;
        flex-direction: column;
        background-color: $sky;

        
    }   
}

div.banner {
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    top: 0;
    video {
        width: 100%;
    }
    span#textBanner {
        position: absolute;
        height: 10vw;
        display: flex;
        align-self: center;
        flex-direction: column;
        padding-top: 15vw;
    }

    h3 {
        color: $white;
        font-size: 2vw;
        letter-spacing: 10px;
        margin: 0 auto;
        font-family: 'Ribeye';
    }
    h2 {
        color: $white;
        font-size: 5vw;
        // text-shadow: 4px 4px black;
        letter-spacing: 15px;
        margin: 0 auto;
        font-family: 'Erica One';
    }
    div#buttons {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-self: center;
        height: 20px;
        z-index: 9996;
        background: transparent;
        padding-top: 13vw;
        i {
            color: $white;
            padding: 10px;
            font-size: 3vw;
        }
        a:hover i::before{
            opacity: 0;
        }
        a:hover i::after{
            content:' ';
            font-size: 20px;
        }

    }

}

// ABOUT

.aboutDiv {
    background-color: $sky;

.about {
    background-color: $sky;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', cursive;
    width: 100%;

.photos {
    display: flex;
    flex-direction: row;

}
    img.headshot {
        width: 20vw;
        height: 21vw;
        padding: 10px;
        margin: 20px 200px 20px 200px;
        border-radius: 100%;
        border: 3px solid darken($sky, 30%);
    }
    .codeIcon {
        display: flex;
        justify-content: center;
        font-size: 100px;
        color: $black;
        background-color: transparent;
    }

    div.textBox {
        background-color: $sky;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width: 80%;
        box-shadow: none;
        color: $black;
        font-size: 120%;
        line-height: 30px;
        padding-left: 40px;
    
    #facts {
        h1 {
            font-size: 150%;
        }

        .row {
            display: flex;
            flex-direction: row;
            i {
                font-size: 200%;
                padding: 20px;
            }
        }
    }
} }}

.work {
       
       background-color: $sky;
       overflow: hidden; 
       font-family: 'Playfair Display';
       font-size: 10px;
    img {
        width: 400px;
        height: 300px;
        padding: 0;
        margin: 0;
        opacity: 0.8;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
        cursor: pointer;
    }

    img:hover{
        opacity: 1;
    }

    ul {
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    li {
        display: inline;
        
    }}
    
// WORK

#skills {
    background-color: $sky;
    padding: 100px 0 100px;

    ul {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    li {
        text-align: center;
        margin: 0 auto;
        display: inline;

        i {
            font-size: 120px;
            padding: 10px 10px 10px 0;
            cursor: pointer;
        }
    }

}
}

// CONTACT
.contactDiv {
    padding-bottom: 30px;
    background-color: $sky;
    display: flex;
    float: left;
    margin-left: 30px;
    margin-bottom: 100px;
    width: 50%;
    border: 2px solid darken($sky, 20%);
    border-radius: 75px;

}
.contact-form {
    background-color: $sky;
    margin: 0 auto;
    display: flex;
    align-content: center;
    & ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
    

    input {
        width: 300px;
        height: 40px;
        font-family: 'Playfair Display', serif;
        box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 10px;
        background-color: $black;

        &:clicked {
            
        border: 1px solid indigo;
        }

    }
    textarea {
        width: 400px;
        height: 100px;
        font-family: 'Playfair Display', serif;
        border: 1px solid indigo;
        box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 10px;
        background-color: $black;
    }

    b {
        color: hsl(0, 100%, 40%);
    }
    .submit {
       // background: linear-gradient(indigo, black);
        border: 1px solid $black;
        color: $white;
        text-transform: uppercase;
        font-family: 'Fjalla One', serif;
        letter-spacing: 4px;
        width: 200px;
        height: 40px;
        cursor: pointer;
        border-radius: 5px;
        margin: 0 auto;
    }        

    form {
        display: flex;
        flex-direction: column;
        align-content: center;
        h4 {
            //font-weight: 100;
            font-family: 'Playfair Display', serif;
            //display: inline;
            
        }
        input[type=text]:focus, textarea:focus, input[type=email]:focus {
            box-shadow: inset 0 0 5px hsl(275, 90%, 25%);
            border: 1px solid hsl(275, 100%, 25%);
          }
    }

    div.or {
        width: 20%;
        display: flex;
        align-content: center;
        flex-direction: column;
    }
}}
#follow {
    display: flex;
    float: right;
    height: 100%;
    margin-right: 40px;
    margin-bottom: 100px;
    width: 40%;
    border: 2px solid darken($sky, 20%);
    border-radius: 75px;

    ul {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 0 auto;
    }
    li {
        font-family: 'Ribeye', cursive;
        list-style: none;
    }
    i {
        font-size: 150%;
        padding: 10px;

    }
}

footer {
    background-color: $black;
    width: 100%;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    padding-bottom: 5px;
    h5 {
    font-family: 'Ribeye', cursive;
    font-weight: 100;
    color: $white;
    display: inline;
    padding-left: 10px;
    font-size: 70%;
    letter-spacing: 1px; 
    line-height: 15px;
    padding-bottom: .5vh;

    }
ul {
    display: inline;
    padding-left: 75vw;
    
}
li{
    display: inline;
}
    i {
        color: $white;
        padding-top: 6px;
        padding-left: 10px;
    }
}






::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $white; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(275, 100%, 25%); 
}