@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|Ribeye|Erica+One|Passion+One|Bowlby+One|Milonga|Peralta|Poppins');
@font-face {
    font-family: 'Milkshake';
    src: url('fonts/milkshake.otf');
}
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

$black: hsl(0, 1%, 26%);
$white: hsl(0, 0%, 95%);
$sky: hsl(164, 21%, 90%);
$blue: #0197A4;

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: $sky;
    padding: 0;
    margin: 0;

    h1 {
        color: darken($white, 10%);
        letter-spacing: 20px;
        text-align: center;
        font-family: 'Peralta', cursive;
        height: 50vh;
        width: 100%;
        font-size: 18vh;
        text-shadow: 0 0 20px   black;
        background-image: url('/img/splat.jpg');
        background-position: center;
        background-repeat: none;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}


hr{
    width: 50%;
    // /height: 2px;
    background-color: $white;
}

//Navigation
nav#horizontal {
    background-color: $blue;
    background-color: #293133;
    width: 100vw;
    position: fixed;  
    z-index: 9999;
    top: 0;
    left:0;
    height: 50px;
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 40px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    ul {
        display: flex;
        justify-content: center;
        align-content: center;
        // height: 100%;
        // padding-top: 15px;
        li.links {
            list-style: none;
            height: 100%;
            border-right: 2px dashed $white;
            margin: 0 auto;
            padding: 0;
            &:last-child {
                border: none;
            }
            
            
        }
    }
        i {
            font-size: 150%;
            color: $white;
        }
        
        a {
            text-decoration: none;
            //font-size: 1.25vw;
            letter-spacing: 2px;
            padding: 20px;
            color: white;
            font-family: 'Peralta';
    
        }

        a:hover {
            background-color: lighten(#293133, 5%);
            //border-radius: 15px;
            padding: 20px;
        }

        a:active {
            background-color: lighten($black, 5%);
        }
        // .fab:hover, .fas:hover {
            // animation-name: bounce;
            // animation-duration: 1s;
            // animation-delay: .5s;
            //animation-iteration-count: infinite;
            //animation-timing-function: linear;
            // animation-iteration-count: ease-in-out;



        
    .linksul {
        font-family: 'Peralta', sans-serif;
        text-transform: lowercase;
        //height: 50px;

    }

    .linksIcons {
        width: 30px;
    }

    li.nametag {
        display: inline;
    img#logo{
        height: 60px;
        width: 70px;
        top: 0;
        margin-top: -10px;
        padding-top: 15px;
        border-radius: 100%;
        //border: 1px dotted $white;
        //box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
        //background-color: #211D1C;
        //padding: 10px;
        //position: absolute;
        
}
}
}
    
    // dropdown
    
        nav#dropdown{
            //width: 100%;
            position: fixed;  
            z-index: 9999;
            top: 0;
            //padding-top: 10px;
            padding-left: 100px;
            display: none;
            width: 100vw;
    
            ul {
                display: flex;
                justify-content: center;
                align-content: center;
            }
    
            ul.list {
                position: absolute;
                width: 100vw;
                background-color: #293133;
                display: flex;
                margin-top: 10px;
                left: 0;
                //box-shadow: 0 20px $black;
                
            }
            li.listLi:hover {
                background-color: lighten($black, 5%);
            }
            li.listLi{
                display: none;
                //margin-top: 10px;
                padding: 10px;
                font-size: 15px;
                border-right: 1.5px dashed $white;
                
    
                &:last-child {
                    border: none;
                }
            }
    
            li.hamburgerLi {
                i {
                    font-size: 30px;
                }
            }
            li.hamburgerLi:hover{
    
                li.listLi {
                    display: block;
                    
                }
            }
            li {
                list-style: none;
                display: block;
            }
            a {
                color: $white;
                text-decoration: none;
                font-size: 15px;
                text-align: left;
            } 
    
        }

        div.spacingDiv {
            height: 10px
        }
    
        // MOBILE ONLY
        @media only screen and (max-width: 900px) {
            main{ width: 100%; background-color: $black;}
            div.banner { padding-top: 20px; }
            span#textBanner {img { height: 100vw; } .fa { font-family: 'Erica One', cursive; letter-spacing: 0; font-size: 50px; }}
            footer{ width: 100%; }
            .links { font-size: 15px; display: none;}
            .linksul { padding:0; display: none; }
            .skills { ul { flex-wrap: wrap;
                overflow-x: auto; } }
            .footerUl { display: none; }
            .spacingDiv { display: none; }
            // video#myVideo { display: none; }
            .goldengate { display: none; }
            .developer, .and, .designer { display: block; text-align: center; font-size: 40%; }
            nav#dropdown { display: inline; }
            div#buttons { display: none; }
            //h1 { font-size: 65px; }
          }
    
          .fa-bookmark {
            color: #C53E25;
            font-size: 120px;
            position: fixed;
            top: 0;
            padding-left: 30px;
        }

  .spacingDiv {
      height: 40px;
  }

main {
width: 100vw;
overflow: hidden;
background-color: $sky;

div {
    display: flex;
    flex-direction: column;
    background-color: $sky;
    width: 100vw;

    
}  }

.work {
  
    background-color: $sky;
    overflow: hidden; 
    font-family: 'Playfair Display';
    font-size: 10px;
    //width: 100vw;
 img {
     width: 400px;
     height: 300px;
     padding: 0;
     margin: 0;
     opacity: 0.8;
     cursor: pointer;
 }

 .fas {
     position: absolute;
     font-size: 50px;
     padding-top: 50px;
     opacity: 1;
 }

 img:hover{
     opacity: 1;
 }

 ul {
     padding: 0;
     display: flex;
     flex-wrap: nowrap;
     overflow-x: auto;
     width: 100vw;
 }
 li {
     display: inline;
     
 }}
 
// WORK


#skills {
    background-color: $sky;
    //padding: 100px 0 100px;

    ul {
    padding: 40px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style-image: none;
    list-style: none;
    // overflow-x: auto;

    li {
        text-align: center;
        margin: 0 auto;
        
        padding-bottom: 20px;
        float: left;

        i {
            font-size: 50px;
            padding: 20px;
            cursor: pointer;
        }
    }}}


    
footer {
    background-color: $black;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    bottom: 0;


    span {
        display: flex;
        justify-content: space-between;
        height: 30px;
    }
    h5 {
    font-family: 'Playfair Display', serif;
    color: $white;
    display: inline;
    font-size: 60%;
    letter-spacing: 2px;
    padding-bottom: .5vh;

    }

    .footerUl {
        bottom: 0;
        padding-right: 30px;
        margin: 0;
    }
ul {
    display: inline;
    //padding-left: 70vw;

    
}
li{
    display: inline;
}
    i {
        color: $white;
        padding-top: 6px;
        padding-left: 10px;
        font-size: 80%;
    }
    .fab:hover, .fas:hover{
        color: lighten($black, 10%);
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $white; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: indigo; 
}